---
import '~/styles/global.css';
import siteConfig from '~/config'

export interface Props {
	title?: string
	description?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description = siteConfig.description } = Astro.props
const siteTitle = title ? `${title} - ${siteConfig.title}` : siteConfig.title
---

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />

<script is:inline src="/toggle-theme.js"></script>
